
nav ul{
  list-style: none;
    display: flex;
    flex-wrap: wrap;
    flex-direction: row;
    justify-content: left;
}
nav ul li{
  border: solid 1px black;
  padding: .2em;
  background-color: rgb(231, 231, 231);
}
body{
  background-color: aliceblue;
  padding: 1em;
  margin: 0 auto;
  font-size: 15px;
  font-family: 'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif;
}

h2{
  display: flex;
  justify-content: center;
}